/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ----------------Normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  background: #fff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding: 0px;
  margin: 0px;
}

a {
  padding: 0px;
  margin: 0px;
}

:root {
  --moz-text-decoration-color: #2196F3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color-grey: #757575;
  --primary-text-color-theme-light: #555555;
  --secondary-text--color-white: #ffffff;
  --secondary-text-color-dark: #212121;
  --transition-dur-and-func: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  border-bottom: 1px solid #ECECEC;
  color: #000;
}
.header__container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.header__container .logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .header__container .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.logo {
  display: block;
  text-decoration: none;
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}
.logo .logo--acent {
  color: #2196f3;
}

.menu {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 90px;
    width: 100vw;
  }
}
.menu .navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu .navigation {
    display: block;
  }
}
.menu .contacts {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
}

.menu.is-open {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 48px 40px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
}

.menu.is-open .navigation {
  display: block;
}

.menu.is-open .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}

.menu.is-open .contacts__item:last-child {
  margin-bottom: 32px;
}

.menu.is-open .contacts__item:last-child .contacts__link {
  color: #2196f3;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu.is-open .contacts__item:not(:last-child) .contacts__link {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.menu .menu__social {
  display: none;
}

.menu.is-open .menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu.is-open .menu__social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu .menu__social__link {
  color: #2196f3;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .menu-contacts {
    margin: 19px 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu-contacts {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu__items:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .menu__items:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
.menu__link {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.menu__link--active, .menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu__link--active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
    background-color: #2196f3;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }
}
.menu__button {
  width: 40px;
  height: 40px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
.menu__button:hover, .menu__button:focus {
  fill: #2196f3;
}

.menu__button.is-open {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 15px;
}

.menu__icon {
  margin-right: auto;
  width: 24px;
  height: 16px;
}

.menu__button .icon__cross {
  display: none;
}

.menu__button.is-open .icon__cross {
  display: block;
  width: 11px;
  height: 11px;
}

.menu__button.is-open .icon__burger {
  display: none;
}

.contacts {
  font-style: normal;
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts-icon {
  display: none;
}

.address .contacts-item {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .address .contacts-item {
    margin-top: 9px;
  }
}
.address .contacts__link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .menu .contacts {
    display: block;
  }
  .menu .contacts__item:first-child {
    margin-bottom: 10px;
  }
  .menu .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menu .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 768px) {
  .contacts-icon {
    display: block;
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .menu .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu .contacts__item:first-child {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .menu .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 93px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  position: relative;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal--active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .modal--active {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal__box {
  height: calc(100% - 30px);
  padding: 40px;
  overflow-y: auto;
}
.modal__box__title {
  display: box;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: #000;
}

.modal__close:hover > .modal__icon,
.modal__close:focus > .imodal__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    width: 450px;
    height: 609px;
  }
  .modal--active {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 768px) {
  .spam {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .spam {
    margin-top: 0;
  }
}
.hero {
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg__480.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg__480.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg__480@2x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg__480@2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg__768.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg__768.jpg");
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg__768@2x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg__768@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1600px;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg__1600.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg__1600.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg__1600@2x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg__1600@2x.jpg");
  }
}
.hero__container {
  max-width: 360px;
  padding: 118px 0;
}
.hero__container__texte {
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
  color: #fff;
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container__texte {
    font-size: 44px;
    line-height: 1.3;
  }
}
.modal-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier 0.4, 0, 0.2, 1;
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}
.modal-form__lable {
  margin-bottom: 10px;
}
.modal-form__lable__title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}
.modal-form__lable__box {
  position: relative;
}
.modal-form__lable__input {
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-form__lable__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #212121;
}
.modal-form__textarea {
  margin-bottom: 20px;
}
.modal-form__textarea__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-form__textarea__comment::-webkit-input-placeholder, .modal-form__textarea__comment::-ms-input-placeholder, .modal-form__textarea__comment::-ms-input-placeholder, .modal-form__textarea__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  margin-bottom: 30px;
  line-height: 1.71;
}
.modal-form__policy__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-form__policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.modal-form__policy__text {
  padding-top: 2px;
  font-size: 12px;
  line-height: 1.16;
}
.modal-form__policy__link {
  color: #2196f3;
}

.modal-form__lable__input:focus + .modal-form__lable__icon {
  fill: var(--moz-text-decoration-color);
}

.modal-form__lable__input:focus,
.modal-form__textarea__comment:focus {
  outline: none;
  border-color: var(--moz-text-decoration-color);
}

.modal-form__policy__checkbox:focus + .modal-form__policy__icon,
.modal-form__policy__checkbox:checked + .modal-form__policy__icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/icons/check.svg");
  background-origin: border-box;
  background-size: contain;
}

.modal-form .button {
  width: 200px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-email {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.email-box {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.email-box:focus {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .email-box {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email-box {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.email-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 29px;
}
.email-btn:hover, .email-btn:focus {
  background-color: #188CE8;
}

.form-subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #fff;
}

.list-merit {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .list-merit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 768px;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .list-merit {
    max-width: 1200px;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .merit-items:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .merit-items {
    height: calc(50% - 30px);
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .merit-items {
    -ms-flex-preferred-size: calc(25% - 30px);
    flex-basis: calc(25% - 30px);
    margin-top: 0;
  }
}
.merit-name {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .merit-name {
    text-align: left;
  }
}
.merit-p {
  margin-top: 0;
  margin-bottom: 0;
}

.merit-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0;
}

.merit-icon {
  width: 70px;
  height: 70px;
}

.whot-do {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .whot-do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.h-work {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .h-work {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.14;
  }
}
.working-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work {
  position: relative;
}

.work + .work {
  margin-left: 30px;
}

.opacity-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.opacity-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.our-team {
  background-color: #f5f4fa;
}

.h-team {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .h-team {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.14;
  }
}
.team-list {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 768px;
    margin-left: -30px;
    margin-top: -30px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    max-width: 1200px;
    margin-top: 0;
  }
}
.team-item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .team-item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-item {
    -ms-flex-preferred-size: calc(50% - 30px);
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    -ms-flex-preferred-size: calc(25% - 30px);
    width: calc(25% - 30px);
    margin-left: 30px;
    margin-top: 0;
  }
}
.team__thumb {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

.team__img {
  width: 450px;
}

.person {
  padding-top: 30px;
  padding-bottom: 24px;
}

.person-name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
}

.team-position {
  margin-top: 10px;
  margin-bottom: 16px;
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.soc-logo:not(:last-child) {
  margin-right: 10px;
}

.icon-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-border:focus, .icon-border:hover {
  color: #fff;
  background-color: #2196f3;
}

.icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.client-section {
  text-align: center;
}

.h-client {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .h-client {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.14;
  }
}
.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-top: -30px;
  margin-left: -30px;
}

.client-item {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc(50% - 30px);
  width: calc(50% - 30px);
  height: calc(33.3333333333% - 30px);
}

@media screen and (min-width: 768px) {
  .client-item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    -ms-flex-preferred-size: calc(16.6666666667% - 30px);
    width: calc(16.6666666667% - 30px);
  }
}
.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}
.client-link:focus, .client-link:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.client-icon {
  fill: currentColor;
  height: 60px;
}

.footer {
  background-color: #2f303a;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-div, .con-address {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .con-address {
    text-align: start;
  }
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-div {
    text-align: left;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address {
  margin-bottom: 60px;
}
.address .logo {
  margin-bottom: 20px;
}
.address .contacts-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .address {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    width: 231px;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.con-address {
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-text--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 231px;
}

.list-address .info {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .list-address .info {
    margin-top: 9px;
  }
}
.footer-social {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    width: 206px;
    margin-right: 93px;
  }
}
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .footer-social-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.social:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  background: rgba(255, 255, 255, 0.1);
}
.footer-icon .icon {
  color: #fff;
}

.filter-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.filter-but-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .filter-but {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .filter-but-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 100vw;
    margin-bottom: 30px;
  }
  .filter-but-item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .filter-but {
    margin-bottom: 50px;
  }
}
.filter-button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button--active, .filter-button:hover, .filter-button:focus {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hidden-box {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .target-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 768px;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .target-project {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .target-project-item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .target-project-item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .target-project-item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
    flex-basis: calc(33.3333333333% - 30px);
  }
}
.project__thumb {
  display: block;
  max-width: 100vw;
  margin: 0;
  height: auto;
}

.filter-text {
  border: 1px solid #eeeeee;
  border-top: none;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.target-name {
  margin: 0;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.target-but {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
}

.hidden-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
}

.target-project-item:hover {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.target-project-item:hover .hidden-content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}/*# sourceMappingURL=main.css.map */