.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 93px;
  overflow-y: scroll;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
-webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal--active {
  opacity: 1;
}
@media screen and  (min-width: 768px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);

    width: 528px;
    height: 581px;
    & {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
    width: 450px;
    height: 609px;
  }
  .modal--active {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 768px) {
  .spam {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .spam {
    margin-top: 0;
  }
} 

.modal__box { 
  height: calc(100% - 30px);
  padding: 40px;
  overflow-y: auto;
  &__title {
    display: box;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
} 
.modal__icon {
  width: 11px;
  height: 11px;
  fill: #000;
}
.modal__close:hover > .modal__icon,
.modal__close:focus > .imodal__icon {
  fill: #2196f3;
}
